twitch:
    userid: ""
    clientid: ""
    accesstoken: ""
modlog:
  channel:
    - name: ""
      userid: ""
      discord:
        webhook: ""
    - name: ""
      userid: ""
      discord:
        webhook: ""